# deployment/.env.template
BARDIOC_ENDPOINT=hiro.example.com
BARDIOC_USE_TLS=true
BARDIOC_USERNAME=
BARDIOC_PASSWORD=
BARDIOC_CLIENT_ID=
BARDIOC_CLIENT_SECRET=
BARDIOC_SCOPE=
JWT_SECRET=
JWT_TTL=15m
API_KEY=
HTTP_PORT=8080
MONITORING_PORT=8081
LOG_LEVEL=info
